<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--  PURE.CSS -->
{% comment %}
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
{% endcomment %}

<link rel="stylesheet" href="//cdn.jsdelivr.net/pure/0.6.0/pure-min.css">


<!--  PURE.CSS OVERRIDE -->
<link rel="stylesheet" media="all" href="{{ site.baseurl }}/css/main-grid.css">
<link rel="stylesheet" media="all" href="{{ site.baseurl }}/css/main.css">
<link rel="stylesheet" media="all" href="{{ site.baseurl }}/css/home.css">
<link rel="stylesheet" media="all" href="{{ site.baseurl }}/css/baby-blue.css">
<link rel="stylesheet" media="all" href="{{ site.baseurl }}/css/bib.css">
<link rel="stylesheet" media="all" href="{{ site.baseurl }}/css/customize.css">

{% comment %}
<link rel="stylesheet" href="{{ site.baseurl }}/css/menus.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/start.css">
{% endcomment %}

<!--  FONT AWESOME -->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

<!--  GOOGLE FONT -->
<link href="https://fonts.googleapis.com/css?family=Cabin+Sketch" rel="stylesheet">
